<%= link_to({ controller: 'maintain_logs', action: 'new', maintain_id: @maintain.id }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
  <%= svg_tag 'plus' %>
  <span><%= t('.new.title') %></span>
<% end %>
