<div class="box">
  <figure id="scene_<%= @scene.id %>" class="image">
    <%= image_tag @scene.qrcode_data_url %>
  </figure>
</div>

<% if request.variant.include?(:wechat) && request.variant.exclude?(:mini_program) %>
<div class="box">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <div
        class="media"
        data-controller="mask"
        data-action="click->mask#show"
      >
        <div class="media-content">分享好友/发个朋友圈</div>
        <div class="media-right">
          <%= svg_tag 'chevron-right' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
