<% if model.name %>
  <div class="is-several">
    <%= image_tag model.avatar, class: 'image is-24x24' if model.avatar.attached? %>
    <span><%= model.name %></span>
  </div>
<% end %>
<% if model.identity %>
  <p><%= model.identity %></p>
<% end %>
<p class="size-7 text-grey">
  <time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time>
</p>
