<%= form_with url: { action: 'new' }, class: 'button_to' do %>
  <%= button_tag disabled: true, class: 'button is-rounded is-dark' do %>
    <%= svg_tag 'hand-holding-dollar' %>
    <span class="ml-1"><%= t('.edit_assign.title') %></span>
  <% end %>
<% end %>
